<div class="show">
  </br>

  <strong><p><%= @game.game_name %></p></strong>
  <p><%= @game.player1.username %> <br>
  <%= @game.player2.username %></p>

<p><%= @game.result %></p>
<table>
  <tbody>
    <% game_board_squared = @game.board_squared %>
    <% game_board_squared.each_with_index do |row, row_index| %>
    <tr>
      <% row.each_with_index do |column, column_index| %>
      <td>
        <% cell_number = (row_index * 3) + column_index %>
        <%= column if column %>
        <div class="button<%=cell_number%>"
        <p>
          <%if (@game.board_squared[row_index][column_index] == nil) && (@game.finished? == false)%> 
            <%= button_to 'Click me!', {action: :update, params: {square: cell_number}}, method: :patch, class: "TTTButton" %>
          <%end%>
        </p>
        </div>
      </td>
      <% end %></tr>
    <% end %>
  </tbody>
</table>
</div>


<% if @move && @move.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@move.errors.count, "error") %> prohibited this move from being saved:</h2>

    <ul>
    <% @move.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>