<div class="show">
<h3>Game</strong></h3>

  <p>Game number: <%= @game.id %></p>
  <p><strong><%= @game.game_name %></strong></p>

<table>
  <tbody>
    <% game_board_squared = @game.board_squared %>
    <% game_board_squared.each do |row| %>
    <tr>
      <% row.each do |column| %>
      <td> <%= column %></td>
      <% end %></tr>
    <% end %>
  </tbody>
</table>
</div>

<p>
  <%if @game.board_squared[0][0] == nil%> 
    <%= button_to '', {action: :update, params: {square: 0}}, method: :patch, class: "TTTButton" %>
  <%end%>
</p>

<p>
  <%if @game.board_squared[0][1] == nil%>
    <%= button_to '', {action: :update, params: {square: 1}}, method: :patch, class: "TTTButton" %>
  <%end%>
</p>

<p>
  <%if @game.board_squared[0][2] == nil%>
    <%= button_to '', {action: :update, params: {square: 2}}, method: :patch, class: "TTTButton" %>
  <%end%>
</p>

<p>
  <%if @game.board_squared[1][0] == nil%>
    <%= button_to '', {action: :update, params: {square: 3}}, method: :patch, class: "TTTButton" %>
  <% end %>
</p>

<p>
<%if @game.board_squared[1][1] == nil%>
<%= button_to '', {action: :update, params: {square: 4}}, method: :patch, class: "TTTButton" %>
<% end %>
</p>

<p>
<%if @game.board_squared[1][2] == nil%>
<%= button_to '', {action: :update, params: {square: 5}}, method: :patch, class: "TTTButton" %>
<% end %>
</p>

<p>
<%if @game.board_squared[2][0] == nil%>
<%= button_to '', {action: :update, params: {square: 6}}, method: :patch, class: "TTTButton" %>
<% end %>
</p>

<p>
<%if @game.board_squared[2][1] == nil%>
<%= button_to '', {action: :update, params: {square: 7}}, method: :patch, class: "TTTButton" %>
<% end %>
</p>

<p>
<%if @game.board_squared[2][2] == nil%>
<%= button_to '', {action: :update, params: {square: 8}}, method: :patch, class: "TTTButton" %>
<% end %>
</p>
